# Task_2 Calculate summary statistics

## Reading a dataset

In [1]:
import pandas as pd 
df=pd.read_csv("mydata.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Summary of Statistics

In [19]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

## Calculate Mean

In [2]:
mean=df['SepalLengthCm'].mean()
mean

5.843333333333334

In [3]:
mean=df['SepalWidthCm'].mean()
mean

3.0540000000000003

In [5]:
mean=df['PetalLengthCm'].mean()
mean

3.758666666666666

In [6]:
mean=df['PetalWidthCm'].mean()
mean

1.1986666666666668

# Calculate Median

In [7]:
Median=df['SepalLengthCm'].median()
Median

5.8

In [8]:
Median=df['SepalWidthCm'].median()
Median

3.0

In [ ]:
Median=df['PetalLengthCm'].median()
Median

In [9]:
Median=df['PetalWidthCm'].median()
Median

1.3

# Calculate Mode

In [14]:
mode=df.mode()
mode

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.0,3.0,1.5,0.2,Iris-setosa
1,2,NaN,NaN,NaN,NaN,Iris-versicolor
2,3,NaN,NaN,NaN,NaN,Iris-virginica
3,4,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
145,146,NaN,NaN,NaN,NaN,NaN
146,147,NaN,NaN,NaN,NaN,NaN
147,148,NaN,NaN,NaN,NaN,NaN
148,149,NaN,NaN,NaN,NaN,NaN
149,150,NaN,NaN,NaN,NaN,NaN

# Calculate standard deviation

In [21]:
std_dev=df['SepalLengthCm'].std()
std_dev

0.8280661279778629

In [22]:
std_dev=df['SepalWidthCm'].std()
std_dev

0.4335943113621737

In [23]:
std_dev=df['PetalLengthCm'].std()
std_dev

1.7644204199522617

In [24]:
std_dev=df['PetalWidthCm'].std()
std_dev

0.7631607417008414